@import url("https://fonts.googleapis.com/css?family=Bungee|Source+Code+Pro&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

::selection {
  background: #0080ff;
  text-shadow: none;
}
body {
  background: #353c51;
  font-size: 14px;
}

h1,
b {
  font-family: Bungee;
}
.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
