@import url("https://fonts.googleapis.com/css?family=Bungee|Source+Code+Pro&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

::selection {
  background: #0080ff;
  text-shadow: none;
}
body {
  background: #353c51;
  font-size: 14px;
}

h1,
b {
  font-family: Bungee;
}
.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*** Replace me
*/
body section.section {
  display: none;
}
body[data-selected-section="team"] section#team-section {
  display: block;
}
body[data-selected-section="shop"] section#shop-section {
  display: block;
}
body[data-selected-section="creative"] section#creative-section {
  display: block;
}
